@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


body {
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.hero p  {
font-size: 24px;
}
.border {
  background-color: gray;
  width:100%;
  height: 25px;
}
.container {
  background-color: #fff;
  flex: 1;
}
.card-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  padding: .5em;
}
.nav-div, .intro {
  background-color: #fff;
}

.nav-item, .dropdown-item {
font-weight: bold;
font-size:12px;
}
.headerImg {
  padding:0px;
  margin-bottom:30px;
}

h1 { 
  color: #111; 
  font-family: 'Montserrat', sans-serif;
  font-size: 100px; 
  font-weight: bold; 
  letter-spacing: -1px; 
  line-height: 1; 
   padding-top:20px;
  padding-bottom:20px;
}

h3 { 
  color: #111; 
  font-family: 'Montserrat', sans-serif;
  font-size: 40px; 
  font-weight: bold; 
  letter-spacing: -1px; 
  line-height: 1; 
  padding-top:20px;
  padding-bottom:20px;
  text-transform: uppercase;
}

h4 { 
  color: #111; 
  font-family: 'Montserrat', sans-serif;
  font-size: 20px; 
  font-weight: bold; 
  letter-spacing: -1px; 
  line-height: 1; 
  padding-top:20px;
  padding-bottom:1px;
}

h5 { 
  color: #111; 
  font-family: 'Montserrat', sans-serif;
  font-weight: bold; 
  letter-spacing: -1px; 
  line-height: 1; 
 
}




.carousel {
    padding: 2em;
}

.default {
    list-style-type: disc !important;
    padding-left: 2em;
}


/* Generic styling */

ul {
  list-style: none;
  padding-left: 0;
}

a:hover {
  text-decoration: underline;
}


.hero {
    /* Sizing */
    width: 100vw;
    height: 100vh;
    
    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Text styles */
    text-align: center;

    /* Background styles */
    /* background-image: url(../images/recipes/spicygreens.jpg); */
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}



.hero .btn {
    /* Positioning and sizing */
    display: block;
    width: 200px;
    
    /* Padding and margins */
    padding: 5px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    
    /* Text styles */
    color: black;
    text-decoration: none;
    font-size: 1.5em;
    
    /* Border styles */
    border: 1px solid black;
}



/* Footer */

.ft-title {
  color: #fff;
  font-family: "Merriweather", serif;
  font-size: 1.375rem;
  padding-bottom: 0.625rem;
}
.ft-main {
  padding: 1.25rem 1.875rem;
  display: flex;
  flex-wrap: wrap;
}
footer {
  background-color: #555;
  color: #bbb;
  line-height: 1.5;
}
footer a {
  text-decoration: none;
  color: #eee;
}

div-container {
border:0px;
}

@media only screen and (min-width: 29.8125rem /* 477px */) {
  .ft-main {
    justify-content: space-evenly;
  }
}
@media only screen and (min-width: 77.5rem /* 1240px */) {
  .ft-main {
    justify-content: space-evenly;
  }

.ft-main-item {
  padding: 1.25rem;
  min-width: 12.5rem;
}
/* h1 { 
  font-size: 24px; 
  letter-spacing: -1px; 
  line-height: 1; 
  padding-top:10px;
  padding-bottom:10px;
}

h3 { 

  font-size: 20px; 
  letter-spacing: -1px; 
  line-height: 1; 
  padding-top:10px;
  padding-bottom:10px;
}

h4 { 
  font-size: 18px; 
  letter-spacing: -1px; 
  line-height: 1; 
  padding-top:10px;
  padding-bottom:10px;
} */

}


/* Footer main | Newsletter form */
/* form {
  display: flex;
  flex-wrap: wrap;
} */
input[type="email"] {
  border: 0;
  padding: 0.625rem;
  margin-top: 0.3125rem;
}

input[type="submit"] {
  background-color: #00d188;
  color: #fff;
  cursor: pointer;
  border: 0;
  padding: 0.625rem 0.9375rem;
  margin-top: 0.3125rem;
}
/* Footer social */
.ft-social {
  padding: 0 1.875rem 1.25rem;
}
.ft-social-list {
  display: flex;
  justify-content: center;
  border-top: 1px #777 solid;
  padding-top: 1.25rem;
}
.ft-social-list li {
  margin: 0.5rem;
  font-size: 1.25rem;
}
/* Footer legal */
.ft-legal {
  padding: 0.9375rem 1.875rem;
  background-color: #333;
}
.ft-legal-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.ft-legal-list li {
  margin: 0.125rem 0.625rem;
  white-space: nowrap;
}
/* one before the last child */
.ft-legal-list li:nth-last-child(2) {
    flex: 1;
}




/* Login */
#div_login{
    border: 1px solid gray;
    border-radius: 3px;
    width: 470px;
    height: 270px;
    box-shadow: 0px 2px 2px 0px  gray;
    margin: 0 auto;
}

#div_login {
    margin-top: 0px;
    font-weight: normal;
    padding: 10px;
    background-color: cornflowerblue;
    color: white;
    font-family: sans-serif;
}

#div_login div{
    clear: both;
    margin-top: 10px;
    padding: 5px;
}

#div_login .textbox{
    width: 96%;
    padding: 7px;
}

#div_login input[type=submit]{
    padding: 7px;
    width: 100px;
    background-color: lightseagreen;
    border: 0px;
    color: white;
}